@use "../app.scss" as *;

.all-channels {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .title {
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  .input {
    padding: 1rem 2vw;
    width: auto;
    position: relative;

    .fa-magnifying-glass {
      position: absolute;
      transform: translateX(15px) translateY(15px);
    }

    input {
      width: 100%;
      font-size: 15px;
      padding: 0.8rem 2.5rem;
      border-radius: 5px;
      border: 1px solid gray;
      outline: none;

      &:hover {
        border: 1px solid black;
      }

      &:focus {
        box-shadow: 0px 0px 0px 4px rgba(24, 161, 240, 0.5);
      }
    }
  }

  .channel-lists {
    padding: 1rem 1rem 0rem 1rem;

    .counter-channels {
      color: rgb(68, 68, 68);
      padding: 0.5rem;
      font-size: 0.8rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    }
  }

  .display-channels {
    padding: 0rem 1rem 3rem 1rem;
    overflow-y: scroll;
    position: relative;

    .load {
      color: blue;
      position: absolute;
      left: 0;
      right: 0;
      top: 20px;
      text-align: center;
    }

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(128, 128, 128, 1);
      border-radius: 1rem;
      background-clip: content-box;
      border: 6px solid transparent;
    }

    .channel {
      cursor: pointer;
      padding: 1rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
      display: flex;
      justify-content: space-between;

      .channel-name {
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;

        .fa-unlock-keyhole {
          font-size: 0.9rem;
        }
      }

      .channel-members {
        font-size: 0.7rem;
        color: rgba(128, 128, 128, 0.8);
      }

      .channel-join {
        display: none;
        align-items: center;
        justify-self: end;
        justify-content: center;
        padding: 0rem 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        background-color: #238a5f;
        transition: background-color 0.2s;

        &:hover {
          background-color: #299c6c;
        }

        &:active {
          background-color: #1f7752;
        }
      }

      &:hover {
        background-color: rgba(128, 128, 128, 0.1);

        & .channel-join {
          display: flex;
        }
      }
    }

    .no-channel {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(128, 128, 128, 0.8);
      padding: 1rem;
    }

    .selected {
      display: none;
    }
  }
}
