.sidebar {
  background-color: #461e46;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vmin;
  overflow: hidden;
  position: relative;
  resize: horizontal;

  &::after {
    content: "";
    background-color: #461e46;
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    width: 4px;
    cursor: col-resize;
  }

  .title {
    color: white;
    border: 1px 0px 1px 0px solid red;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 0.8rem 1rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    .pen-square {
      position: absolute;
      right: 10px;
      border-radius: 1rem;
      background: white;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-pen-to-square {
        color: rgb(68, 68, 68);
      }
    }

    &:hover {
      background-color: rgb(52, 22, 52);
    }
  }

  .options {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    .threads,
    .direct-message,
    .mentions,
    .more {
      padding: 0.2rem 1rem;
      color: rgb(180, 180, 180);
      font-family: "Noto Sans", sans-serif;
      cursor: pointer;
      user-select: none;
      display: flex;
      gap: 0.5rem;
      text-decoration: none;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
      }

      &:hover {
        background-color: rgb(52, 22, 52);
      }
    }
  }

  .direct-messages,
  .channels {
    color: rgb(180, 180, 180);
    padding: 1rem 0;
    user-select: none;
    height: auto;

    .label-direct,
    .label-channel {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      padding: 0.5rem 1rem;

      &:hover .add-channel {
        opacity: 1;
      }

      &:hover .add-direct {
        opacity: 1;
      }

      .fa-caret-down {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        transition: transform 0.2s;
      }

      .direct,
      .channel {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
      }

      .add-direct,
      .add-channel {
        position: absolute;
        right: 10px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        padding: 0.4rem;
        border-radius: 3px;

        &:hover {
          background-color: rgba(128, 128, 128, 0.3);
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          height: auto;
        }
      }

      input {
        display: none;

        &:checked ~ .fa-caret-down {
          transform: rotate(-90deg);
        }
      }
    }

    .direct-list,
    .channel-list {
      display: block;
      height: auto;
      overflow: hidden;
      transition: height 0.2s;

      .browse-directs,
      .browse-channels {
        font-size: clamp(0.8rem, 0.8rem, 1rem);
        padding: 0.3rem 1.1rem;
        cursor: pointer;
        display: flex;
        gap: 0.7rem;
        align-items: center;
        text-decoration: none;
        color: rgb(180, 180, 180);

        .fa-square-plus {
          font-size: 1rem;
        }

        &:hover:not(.active) {
          background-color: rgb(52, 22, 52);
        }
      }

      // .new {
      //   font-size: 0.8rem;
      //   padding: 0.3rem 1.1rem;
      //   cursor: pointer;
      //   display: flex;
      //   gap: 0.7rem;
      //   align-items: center;
      //   text-decoration: none;
      //   color: rgb(180, 180, 180);

      //   .fa-square-plus {
      //     font-size: 1rem;
      //   }

      //   &:hover:not(.active) {
      //     background-color: rgb(52, 22, 52);
      //   }
      // }
    }
  }

  .footer-logout {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-direction: column;
    gap: 0.5rem;

    .user-email {
      color: rgb(180, 180, 180);
    }

    .logout {
      text-decoration: none;
      color: white;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .active {
    color: white;
    background: rgb(36, 81, 133);
  }
}
