@use "../app.scss" as *;

.direct-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;

  .direct-message {
    border-radius: 10px;
    width: 30rem;
    height: 27rem;
    outline: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 50px 30px rgba(109, 109, 109, 0.8);
    position: relative;

    .email-dropdown {
      position: absolute;
      top: 21.4rem;
      left: 1.5rem;
      right: 1.5rem;
      border: 1px solid rgb(204, 204, 204);
      border-top: 0px;
      height: auto;
      max-height: 20rem;
      border-radius: 0 0 10px 10px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.2s;
      overflow-x: hidden;
      flex-flow: wrap;

      &::-webkit-scrollbar {
        width: 16px;
        height: 10rem;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(128, 128, 128, 1);
        border-radius: 1rem;
        background-clip: content-box;
        border: 6px solid transparent;
      }

      .email {
        cursor: pointer;
        padding: 1rem 2rem;
        color: gray;
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.9rem;
        gap: 1rem;

        .fa-user {
          border: 1px solid rgb(170, 170, 170);
          padding: 3px;
          border-radius: 3px;
          font-size: 1rem;
          pointer-events: none;
        }

        .user-email {
          pointer-events: none;
        }

        &:hover {
          background-color: rgb(245, 245, 245);
        }
      }
    }

    .direct-button-close {
      position: absolute;
      top: 10px;
      right: 10px;
      outline: none;
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;

      .fa-xmark {
        font-size: 1.3rem;
        width: auto;
        height: auto;
        padding: 0.5rem 0.5rem 0.4rem 0.5rem;
        cursor: pointer;
        color: gray;
        transition: 0.3s;

        &:hover {
          color: white;
          background: rgba(105, 105, 105, 0.2);
        }
      }
    }

    .direct-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40%;
      padding: 3rem;
      overflow: hidden;
      background-color: rgb(201, 241, 239);
      border-radius: 10px 10px 0 0;
    }

    .direct-title {
      padding: 1.5rem;
      font-size: 1.3rem;
      margin: 0;
      color: rgb(31, 31, 31);
    }

    .direct-description {
      padding: 0rem 1.5rem;
      font-size: 0.9rem;
      margin: 0;
      font-weight: 100;
      color: gray;
      font-family: sans-serif;
    }

    .direct-input {
      margin: 1.5rem;
      padding: 0.7rem;
      font-size: 1.1rem;
      border-radius: 5px;
      border: 1px solid rgb(187, 187, 187);
      outline: none;
      font-family: "Roboto", sans-serif;

      &:focus {
        border: 1px solid rgb(36, 112, 199);
        box-shadow: 0px 0px 0px 3px skyblue;
      }
    }

    .direct-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7rem;
      padding: 0.7rem;
      align-self: flex-end;
      margin: 0rem 1.5rem 1.5rem 0rem;
      border-radius: 5px;
      border: none;
      background-color: #35946c;
      color: white;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      outline: none;

      &:hover {
        background-color: #40a77c;
      }

      &:active {
        background-color: #2d7c5b;
      }
    }
  }
}
