@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.animation {
  animation: error 0.04s ease-in-out 0s 6 alternate forwards;
}
@keyframes error {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}

.messages-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.messages-div .top-message-div {
  padding: 1rem;
  border: 1px solid black;
  background-color: #6d306d;
  padding: 10px;
  padding-left: 20px;
}
.messages-div .message-text {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.messages-div .message-text ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
}
.messages-div .message-text ul .received {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  padding: 0.5rem 2rem;
  height: auto;
  width: 100%;
}
.messages-div .message-text ul .received:hover {
  background-color: rgb(245, 245, 245);
}
.messages-div .message-text ul .received .name-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.messages-div .message-text ul .received .name-date .recipient-user {
  margin: 0;
  font-size: 0.8rem;
}
.messages-div .message-text ul .received .name-date .received-date-and-time {
  font-size: 0.6rem;
  color: gray;
  margin: 0;
}
.messages-div .message-text ul .received .received-message {
  padding: 0.7rem;
  margin: 0.3rem 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  background-color: rgb(225, 225, 225);
  border-radius: 8px;
  border-top-left-radius: 0px;
}
.messages-div .message-text ul .received .status {
  margin: 0;
  color: gray;
  font-size: 0.6rem;
}
.messages-div .message-text ul .sent {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  padding: 0.5rem 2rem;
  height: auto;
  width: 100%;
}
.messages-div .message-text ul .sent:hover {
  background-color: rgb(245, 245, 245);
}
.messages-div .message-text ul .sent .name-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.messages-div .message-text ul .sent .name-date .sent-date-and-time {
  font-size: 0.6rem;
  color: gray;
  margin: 0;
}
.messages-div .message-text ul .sent .name-date .sender-user {
  margin: 0;
  font-size: 0.8rem;
}
.messages-div .message-text ul .sent .sent-message {
  padding: 0.7rem;
  margin: 0.3rem 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  background-color: #35946c;
  border-radius: 8px;
  border-top-right-radius: 0px;
  color: white;
}
.messages-div .message-text ul .sent .status {
  margin: 0;
  color: gray;
  font-size: 0.6rem;
}
.messages-div .message-text::-webkit-scrollbar {
  width: 8px;
}
.messages-div .message-text::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 1rem;
  height: 5px;
}
.messages-div .direct-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.messages-div .bottom-div {
  padding: 0rem 2rem 1rem 2rem;
  background-color: rgb(245, 245, 245);
}
.messages-div .bottom-div .send-message-div {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.messages-div .bottom-div .send-message-div .message-box-input {
  width: 100%;
  padding: 1rem 1rem;
  min-height: 6vh;
  resize: none;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
  transition: 0.2s ease-in-out;
  font-family: "Noto Sans", sans-serif;
}
.messages-div .bottom-div .send-message-div .message-box-input:focus {
  border: 1px solid rgb(119, 119, 119);
}
.messages-div .bottom-div .send-message-div .message-box-input::-webkit-scrollbar {
  width: 7px;
}
.messages-div .bottom-div .send-message-div .message-box-input::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 1rem;
  height: 5px;
}
.messages-div .bottom-div .send-message-div .send-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #238a5f;
  color: white;
  outline: none;
  border: none;
  padding: 0.4rem 1.2rem;
  transition: background-color 0.2s ease-in-out;
}
.messages-div .bottom-div .send-message-div .send-button:hover {
  background-color: #2f996d;
}
.messages-div .bottom-div .send-message-div .send-button:active {
  background-color: #207954;
}

/*# sourceMappingURL=message.css.map */
