@use "./app.scss" as *;

.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  gap: 0.5rem;

  img {
    height: auto;
    width: 10rem;
  }

  h4 {
    font-family: sans-serif;
    font-weight: 500;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .google-signup,
    .facebook-signup {
      padding: 0.8rem 4rem;
      gap: 0.5rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      line-height: 0;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      border: 2px solid #4285f4;
      font-weight: 700;
      transition: box-shadow 0.2s;

      &:hover {
        border: 2px solid #2e5eaa;
      }

      &:focus {
        box-shadow: 0px 0px 3px 4px #9bb5eb;
      }
    }

    .google-signup {
      color: #4285f4;

      .fa-google {
        background: -webkit-linear-gradient(#4285f4, #db4437, #f4b400, #0f9d58);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .facebook-signup {
      color: #4267b2;
    }
  }

  h5 {
    display: flex;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: flex;
      height: 1px;
      width: 8rem;
      background: rgb(200, 200, 200);
    }

    &::before {
      position: absolute;
      left: -9rem;
    }

    &::after {
      position: absolute;
      right: -9rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;

    .fullname,
    .email,
    .password,
    .confirm-password {
      font-size: 1rem;
      padding: 0.7rem;
      border-radius: 5px;
      border: 2px solid #7996cf;
      outline: none;
      transition: box-shadow 0.2s;
      font-family: "Roboto", sans-serif;
      font-weight: 1000;

      &:focus {
        box-shadow: 0px 0px 3px 4px #9bb5eb;
      }

      &:hover {
        border: 2px solid #4267b2;
      }
    }

    .submit {
      margin-top: 1rem;
      padding: 0.8rem;
      border-radius: 5px;
      background-image: linear-gradient(to right, #5e2c72, #654571, #401e4e);
      background-position: 0%;
      background-size: 600%;
      color: white;
      border: none;
      font-weight: 1000;
      cursor: pointer;
      transition: background-position 0.3s;
      outline-color: #a6a4a7;

      &:hover {
        background-position: 100%;
      }
    }
  }

  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    font-size: 0.9rem;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h6 {
      color: gray;
      font-weight: 100;
    }

    a {
      text-decoration: none;
      font-size: 0.8rem;
      color: #577fcf;
      font-family: "Roboto", sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
